doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ASR Path To Objective
  body
    label(for='invts') Load a .vts scenario
      input#invts(type='file')

    input#renderbtn(value='Download' type='button')

    script(src="src.js")
